@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(158,238,216);
  background: radial-gradient(circle, rgba(78,171,255,1) 25%, rgba(0,100,255,1) 100%);  height: 100vh;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}

#map {
    height: 30vh;
    width: 90vw;
    margin: auto;
    padding: auto;

}

.wrapper{
  width: 600px;
  height: 28em;
  position: relative;
  background-color: var(--wrapper-background-c);
  box-shadow: 0 0 80px var(--wrapper-shadow-c);
}

.images-area{
  width: 80vw;
  height: 50vh;
  position: relative;
  display: flex;
  scrollbar-width: none;
  /* overflow: visible; */
}
.images-area img{
  width: 100%;
  transition: 0.3s cubic-bezier(.79,.03,0,.99);
}


.buttons-area{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.buttons-area > div{
  color: var(--white-c);
  background-color: var(--buttons-background-c);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* Buttons | Previous And Next */
.buttons-area > div:first-child{
  border-radius: 0 5px 5px 0;
  margin-left: -100px;
}
.buttons-area > div:last-child{
  border-radius: 5px 0 0 5px;
  margin-right: -100px;
}

.wrapper:hover .buttons-area > div:first-child{
  margin-left: 0;
}
.wrapper:hover .buttons-area > div:last-child{
  margin-right: 0;
}
.buttons-area div:hover:not(div.disabled){
  background-color: var(--buttons-active-background-c);
}
.buttons-area div:not(div.disabled):active{
  opacity: 0.7;
}
/* Disabled Button */
.buttons-area > div.disabled{
  cursor: no-drop;
  opacity: 0.3;
}
.buttons-area div i{
  font-size: 70px;
}


.pagination-area{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  --white-c: #fff;
}

.pagination-area span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white-c);
  margin-right: 5px;
  transform: scale(0.5);
  transition: 0.3s ease-in-out;
  opacity: 0.4;
}

.pagination-area span.active{
  transform: scale(1);
  opacity: 1;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}



header {
  font-family: 'Prata', serif;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background: rgb(158,238,216);
  background: linear-gradient(90deg, rgba(158,238,216,1) 0%, rgba(191,191,225,1) 54%, rgba(0,212,255,1) 100%);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-right {
  font-size: 1.2em;
  font-weight: bold;
}

.badminton-svg {
  width: 3em;
  height: 6em;
}

.dates {
  color: black;
}

.card {
    font-family: 'Red Hat Display', sans-serif;
    width: 40vw;
    display: block;  
    font-weight: bold;
    background-color: rgb(144, 144, 155);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;    
    -webkit-box-shadow: 11px 10px 12px 5px #000000; 
    box-shadow: 11px 10px 12px 5px #000000; 
}

.card-header {
  display: block;
  align-items: center;
  background-color: grey;
  padding-left: 1em;
  max-height: 4em;
  overflow: hidden;
}

.text-key {
  /* font-size: 1.3em; */
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.images {
  display: flex;
  justify-content: space-evenly;

}

.images > img {
  border-radius: 10px;
  width: 18em;
  height: 9em;
}

.showMore {
  background-color:#7a90ff;
	border-radius: 2px;
	border:0.5px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  /* important */
  justify-content: center;
  align-self:baseline;
}

.showMore:hover {
  background-color: #7a90ff;
}

.showMore:active {
  position:relative;
	top:1px;
}

a {
    color: black;
}

.placeName {
  font-size: 1.8em;
  font-weight: bolder;
}

.insta {
  width: 2em;
  height: 2em;
}

.dropbtn {
  background-color: #2a3ed6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.sortBy {
  position: relative;
  display: block;
  width: 100vw;
  padding-left: 85%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d5d4d4;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 2; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.sortBy:hover .dropdown-content {
  display: block;
}

.sortBy:hover .dropbtn {
  background-color: #3e8e41;
}

.coming-soon {
  width: 100vw;
  height: 10vw;
  background-color: rgb(19, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}

.footer-news {
  width: 100vw;
  background-color: rgb(18, 18, 18);
  max-height: 200px;
  color: black;
}

footer {
  font-weight: bold;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 2em;
  background-color:grey;
  justify-content: center;
}

.github-logo {
  width: 2.5em;
  height: 2.5em;
}

@media only screen and (max-width: 600px) {
  .main-content {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    align-items: center;
  }
  .card {
    flex-wrap: nowrap;
    width: 80vw;
  }
}