html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#map {
    height: 40vh;
    width: 40vw;
    margin: auto;
    padding: auto;
  }

title {

}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    width: 20vw;
    background-color:blanchedalmond;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;    

}

a {
    color: black;
}