@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(158,238,216);
  background: radial-gradient(circle, rgba(78,171,255,1) 25%, rgba(0,100,255,1) 100%);  height: 100vh;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}


#map {
  position: relative;
  height: 50vh;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 10em;
}
.marker {
  background-image: url('/images/icons-place-marker.gif');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  font-family: 'Prata', serif;
  width: 600px;
  height: 28em;
  position: relative;
  background-color: var(--wrapper-background-c);
  box-shadow: 0 0 80px var(--wrapper-shadow-c);
}

.main-wrapper {
  font-size: 1.8em;
  color: white;
}

.wrapper-text {
  font-size: 3em;
  color:#41af31;
  font-weight: bold;
  flex-wrap: nowrap;
  max-width: 50vw;
  padding-left: 1em;
  position: absolute;
  right: 50%;
}

.images-area{
  width: 80vw;
  height: 60vh;
  position: relative;
  display: flex;
  scrollbar-width: none;
  /* overflow: visible; */
  -webkit-mask-image: linear-gradient(to left, black 10%, transparent 90%);
  mask-image: linear-gradient(to left, black 10%, transparent 90%);
}
.images-area img{
  width: 100%;
  transition: 0.3s cubic-bezier(.79,.03,0,.99);
}


.buttons-area{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.buttons-area > div{
  color: var(--white-c);
  background-color: var(--buttons-background-c);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* Buttons | Previous And Next */
.buttons-area > div:first-child{
  border-radius: 0 5px 5px 0;
  margin-left: -100px;
}
.buttons-area > div:last-child{
  border-radius: 5px 0 0 5px;
  margin-right: -100px;
}

.wrapper:hover .buttons-area > div:first-child{
  margin-left: 0;
}
.wrapper:hover .buttons-area > div:last-child{
  margin-right: 0;
}
.buttons-area div:hover:not(div.disabled){
  background-color: var(--buttons-active-background-c);
}
.buttons-area div:not(div.disabled):active{
  opacity: 0.7;
}
/* Disabled Button */
.buttons-area > div.disabled{
  cursor: no-drop;
  opacity: 0.3;
}
.buttons-area div i{
  font-size: 70px;
}


.pagination-area{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  --white-c: #fff;
}

.pagination-area span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white-c);
  margin-right: 5px;
  transform: scale(0.5);
  transition: 0.3s ease-in-out;
  opacity: 0.4;
}

.pagination-area span.active{
  transform: scale(1);
  opacity: 1;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}



header {
  font-family: 'Prata', serif;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  width: 100vw;
  background-color: #008BFF;
  /* background: linear-gradient(90deg, rgba(158,238,216,1) 0%, rgba(191,191,225,1) 54%, rgba(0,212,255,1) 100%); */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header-right {
  font-size: 1.2em;
  font-weight: bold;
}

.badminton-svg {
  width: 3em;
  height: 6em;
}

.dates {
  color: black;
}

.custom-shape-divider-top-1659562864 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1659562864 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 84px;
  z-index: auto;
}

.custom-shape-divider-top-1659562864 .shape-fill {
  fill: #008BFF;
}



.card {
    font-family: 'Red Hat Display', sans-serif;
    width: 40vw;
    display: block;  
    font-weight: bold;
    background-color: rgb(144, 144, 155);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;    
    -webkit-box-shadow: 11px 10px 12px 5px #000000; 
    box-shadow: 11px 10px 12px 5px #000000; 
    letter-spacing: 0.09rem;
}

.card-header {
  display: block;
  align-items: center;
  background-color: grey;
  padding-left: 1em;
  max-height: 4em;
  overflow: hidden;
}

.current-hour {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current {
  display: flex;
  padding-right: 5rem;
}

.text-key {
  /* font-size: 1.3em; */
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.images {
  display: flex;
  justify-content: space-evenly;

}

.images > img {
  border-radius: 10px;
  width: 18em;
  height: 9em;
}

.showMore {
  background-color:#7a90ff;
	border-radius: 2px;
	border:0.5px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  /* important */
  justify-content: center;
  align-self:baseline;
}

.showMore:hover {
  background-color: #7a90ff;
}

.showMore:active {
  position:relative;
	top:1px;
}

a {
    color: black;
}

.placeName {
  font-size: 1.8em;
  font-weight: bolder;
}

.insta {
  width: 2em;
  height: 2em;
}

.dropbtn {
  background-color: #2a3ed6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.sortBy {
  position: relative;
  display: block;
  width: 100vw;
  padding-left: 85%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d5d4d4;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 2; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.sortBy:hover .dropdown-content {
  display: block;
}

.sortBy:hover .dropbtn {
  background-color: #3e8e41;
}

.form-email {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.top-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* justify-items: center; */
}

/* weird bug?  */
.form-input {
  height: 160px;
  border-bottom: 1px solid;
  padding: 15px;
  background-color: rgb(49, 53, 55);
}

.input-name, 
.input-email,
.form-input {
  padding: 10px;
  border-bottom: 1px solid;
  background-color: rgb(49, 53, 55);
}

.submit-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(203, 198, 191);
  border-radius: 5px;
  padding: 10px;
}

.coming-soon {
  width: 100vw;
  height: 10vw;
  background-color: rgb(19, 17, 17);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  padding-bottom: 3.5em;
  gap: 1em;
}

.footer-news {
  width: 100vw;
  background-color: rgb(18, 18, 18);
  max-height: 200px;
  color: black;
}

footer {
  font-weight: bold;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 2em;
  background-color:grey;
  justify-content: center;
}

.github-logo {
  width: 2.5em;
  height: 2.5em;
}

@media only screen and (min-width: 300px) {
  .form-email {
    /* position: relative; */
    left: 9em;
  }
}


@media only screen and (max-width: 600px) {
  .main-content {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    align-items: center;
  }
  .card {
    flex-wrap: nowrap;
    width: 80vw;
  }
  .images-area {
    height: 50vw;
  }
  .wrapper {
    /* height: 14em; */
    height: 45vw;
  }
  .wrapper-text {
    font-size: 1.5rem;
    left: 3em;
    /* display: none; */
  }
  .header-left{
    padding-left: 0.8em;
  }
  .images-area {
    -webkit-mask-image: none;
  }
  .coming-soon {
    font-size: 0.5em; 
  }
  .placeName {
    font-size: 1.4em;
  }
  .current-hour {
    font-size: 0.8em;
    padding-right: 1rem;
  }
  .header-right {
    display: none;
  }
  .form-email {
    position: relative;
    left: 6em;
  }
  .form-email > h2, h3 {
    font-size: 1em;
    padding-right :200px;
  }
}


@media only screen and (max-width: 1440px) {
  .wrapper-text {
    /* font-size: 1rem;
    padding: 0; */
    max-width: 50vw;
    right: 90%;
  }
  .card-header{
    max-height: 8em;
  }
  .placeName {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 1440px) {
  .wrapper-text {
    /* font-size: 1rem;
    padding: 0; */
    max-width: 50vw;
    right: 90%;
  }
  
  .main-wrapper {
    
  }
}

@media only screen and (max-width: 1980px) {
  .wrapper-text {
    right: 50%;
  }
}


